.wrapper-reservation-create {
  padding: 5rem 0;
  background-size: cover;
  height: calc(100vh - 216px)
}

.hidden {
  display: none;
}

.form-group {
  position: relative;
}

.icone-input-end {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.form-group input {
  width: 100% !important;
  padding: 1rem 3rem;
  -webkit-appearance: listbox;
}

p#title-subheader {
  color: red;
  font-weight: bold;
}
