.navbar-thai {
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-thai .navbar-collapse {
  flex-grow: 0;
}

.navbar-thai .navbar-brand img {
  height: 40px;
}
